/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#nav li{
  float: left;
  padding: 0px 10px 0px 10px;
  border-left : 1px solid black;
  border-right: 1px solid black;
  list-style: none;
}

#nav li:nth-child(even){
  border-left: none;
}

.mana {
  background: url('/assets/mm24_fivecolors.jpg') no-repeat;
  overflow: hidden;
  height: 25px;
  width: 20px;
  background-size: 500% 100%;
  display: inline-block;
}
.mana.Wind{
  background-position : -3px 0px;
}

.mana.Water{
  background-position : -21px 0px;
}

.mana.Fire{
  background-position : -58px 0px;
}

.mana.Earth{
  background-position : -77px 0px;
}

.mana.Ether{
  background-position : -40px 0px;
}