<p id="notice"><%= notice %></p>
  <strong>Name:</strong>
  <%= @deck.name %>
  <hr>
  <div class="<%= params[:print] ? 'plain': ''%>">
  <% @deck.deck_cards.each do |deck_card| %>
    <% deck_card.amount.times do %>
    <%= render('cards/card', :card => deck_card.card) %>
    <%end%>
  <%end%>
  <div>